.round {
  width: 50px; /* 头像大小，可根据需要调整 */
  height: 50px; /* 头像大小，保持与宽度一致以形成圆形 */
  border-radius: 50%; /* 创建圆形边框 */
  overflow: hidden; /* 隐藏超出圆形边框的图片部分 */
  margin-right: 10px; /* 头像和用户名之间的间距 */
  background-color: #fff; /* 头像背景色 */
  cursor: pointer;
}

.round img {
  width: 100%; /* 使图片填满容器 */
  height: auto; /* 保持图片的原始宽高比 */
}
