.container {
    display: flex;
    width: 600px;
    height: 300px;
    overflow: auto; /* 自动显示滚动条 */
    align-items: stretch;
}

.left {
    padding: 10px 10px;
    white-space: nowrap;

    .text {

        padding: 10px 15px;
        border-radius: 10px;

        &:hover {
            color: rgb(95, 174, 249);
            background-color: rgb(240, 249, 253);
            cursor: pointer;
        }
    }
}

.middle {
    width: 1px;
    background-color: #cccccc;
}

.right {
    height: auto;
    width: 100%;
    overflow: auto; //完整的显示中间的分割线所必须

    .title {
        padding: 8px 0 8px 10px;
        display: block;
        top: 0;
        position: sticky;
        z-index: 1;
        background-color: whitesmoke;
    }

    .boundary {
        height: 1px;
        background-color: #cccccc;
    }

    .display {
        height: 70px;
        display: flex;
        overflow: auto;

        .icon {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            display: inline;
        }

        .info {
            padding: 0 20px 0 0;
            width: 400px;

            .name {
                overflow: auto;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .state {
                text-align: center;
            }
        }

        .operate {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                margin-right: 10px;
            }
        }
    }
}







